.footer {
	display: flex;
	align-items: center;
	min-height: 32px;
	padding: 0 30px;
	border-top: 1px solid rgba(15, 7, 57, 0.1);
	border-bottom: 1px solid rgba(15, 7, 57, 0.1);
	color: rgba(15, 7, 57, 0.6);
	font-size: 11px;
}
